body {
    background-color: #F1F1F1;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #464646;
    color: #FFF;
    padding: 12px;
    position: fixed;
  
    width: 100%;
    z-index: 1;


    
  }

  

  
  nav a {
    color: #FFF;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  nav a:hover {
    background-color: #333;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #061c3b;
    color: #FFF;
    padding: 5px;
    text-align: center;
  }
  
  
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  hr {
    border-top: 1px solid #DDD;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  

    

  

  .adaptivny-slayder {
    position: fixed ;
    max-width: 680px;
    margin: 50px auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
   
    
  }
  
  
    
  .adaptivny-slayder input[name="kadoves"] {
    display: none;
  
  }
  
  .kadoves {
    position: relative;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
    z-index: 1;
   
  }
  
  .kadoves label {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
    border-radius: 50%;
    border: 5px solid #2f363c;
    background-color: #738290;
  }
  
  #slaid1:checked~.kadoves label[for="slaid1"] {
    background-color: white;
  }
  
  #slaid2:checked~.kadoves label[for="slaid2"] {
    background-color: white;
  }
  
  #slaid3:checked~.kadoves label[for="slaid3"] {
    background-color: white;
  }
  
  .adaptivny-slayder-lasekun {
    overflow: hidden;
     
  }
  
  .abusteku-deagulus {
    display: flex;
    width: 100%;
    transition: all 0.5s;
  }
  
  .abusteku-deagulus img {
    width: 100%;
    flex-shrink:0;
  }
  
  #slaid1:checked~adaptivny-slayder-lasekun abusteku-deagulus {
    transform: translate(0);
  }
  
  #slaid2:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
    transform: translateX(-100%);
  }
  
  #slaid3:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
    transform: translateX(-200%);
  }